/* 公共样式 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: #c81623;
}


/* 搜索部分 */

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
    line-height: 31px;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}


/* header 部分 */

.header {
    height: 105px;
    background-color: pink;
    position: relative;
}

.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: skyblue;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url('../images/logo.png') no-repeat;
    font-size: 0;
}